
nav {
    background-color: rgba(238, 110, 115, 0);
    width: 100%;
    height: 56px;
    line-height: 56px;
    color: black;
    ul a{
    	color: black;
    }
}
.navbar{
	background-image: url(img/bg1.jpg);
}